.custom-scrollbar {
    overflow-x: scroll; /* 스크롤 활성화 */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;        /* 스크롤바 핸들 색상 */
    border-radius: 6px;            /* 끝부분을 둥글게 만들기 */
    border: 3px solid #EFEFEF;     /* 핸들 주변 공간 (배경색과 일치시킴) */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f3f3f3;     /* 스크롤바 트랙 색상 */
    border-radius: 6px;            /* 끝부분을 둥글게 만들기 */
    border: 3px solid #EFEFEF;  
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #777;        /* 마우스를 올렸을 때 스크롤바 핸들 색상 */
  }
  